# Pivot Tables

  Author: Brilliant Chikanya
  
### In this notebook, we look at pivot tables and how they can be used to summarize data

# Pivot Tables

- A PivotTable is essentially a summary report that is generated from a dataset. 

- It can help be used to transform raw data into a meaningful representation of the data.

In [1]:
import numpy as np
import pandas as pd
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

### For our purposes, we will make use of dataset which consists of a monthâ€™s worth of new account information for a three-branch bank.

Our dataset contains 712 rows, and each row represents a new account opened at the bank.
The table has the following columns:
- The date the account was opened
- The day of the week the account was opened
- The opening deposit amount
- The account type (CD, checking, savings, or IRA)
- Who opened the account (a teller or a new-account representative)
- The branch at which it was opened (Central, Westside, or North County)
- The type of customer (an existing customer or a new customer)

In [4]:
# Lets start by loading the dataset into pandas

df = pd.read_excel('bank_accounts.xlsx', sheet_name='data')

# Next, set the Date column as the index
df.set_index('Date', inplace=True)
df.head()

           Weekday  Amount  AcctType   OpenedBy        Branch  Customer
Date
2019-04-01  Friday    5000       IRA  New Accts       Central  Existing
2019-04-01  Friday   10000        CD     Teller  North County  Existing
2019-04-01  Friday     500  Checking  New Accts       Central  Existing
2019-04-01  Friday   11779        CD     Teller       Central       New
2019-04-01  Friday    4623   Savings  New Accts  North County  Existing

#### The bank accounts dataset contains a lot of information. In its current form, however, it does not reveal much. 
#### To make the data more useful, we are going to summarize it. 
#### Summarizing data is the process of arranging the data differently in order to answer questions about it. 
#### The following are a some of the questions that we may answer by creating pivot tables.

- How many accounts were opened at each branch, broken down by account type?
- What is the daily total new deposit amount for each branch?
- Which day of the week accounts for the most deposits?
- How much money was used to open accounts?
- What types of accounts do tellers open most often?
- In which branch do tellers open the most checking accounts for new customers?

### 1. How many accounts were opened at each branch, broken down by account type?

In [10]:
# Create a pivot table showing the amount of new deposits, broken down by branch and account type.

df.pivot_table(index='Branch', columns='AcctType', values='Amount', aggfunc='sum')

AcctType           CD  Checking     IRA  Savings
Branch
Central       1361885    802403   68380   885757
North County  1209910    392516  134374   467414
Westside       650237    292995   10000   336088

#### We can change the orientation of the table, so that branches appear as columns and account type appears as rows

In [13]:
# The same information can be presented in another way:

df.pivot_table(index='AcctType', columns='Branch', values='Amount', aggfunc=np.sum)

Branch    Central  North County  Westside
AcctType
CD        1361885       1209910    650237
Checking   802403        392516    292995
IRA         68380        134374     10000
Savings    885757        467414    336088

### 2. What is the daily total new deposit amount for each branch?

In [19]:
daily = df.pivot_table(index=df.index, columns='Branch', values='Amount', aggfunc=np.sum)
print(daily)

Branch      Central  North County  Westside
Date
2019-04-01   179011        139196     51488
2019-04-02    72256         27805      7188
2019-04-04   146290        164305    122828
2019-04-05   101480         50294     97415
2019-04-06   188018         91724     52738
2019-04-07   271227        196188     53525
2019-04-08   105087         77674     92013
2019-04-11   172920         43953     89258
2019-04-12    70300         44621     39797
2019-04-13   143921        176698     29075
2019-04-14   117800        114418     36064
2019-04-15   191611         62787     85015
2019-04-18    79394         72262     48337
2019-04-19   209916        213728     53721
2019-04-20   125276        140739     56444
2019-04-21    79355         35753      3419
2019-04-22   188509        236269     97210
2019-04-25   218889        137025     85828
2019-04-26   150139         29040     95998
2019-04-27    56379         72948     43472
2019-04-28    62192         43217     12128
2019-04-29   170279         22570     19429
2019-04-30    18176         11000     16930